/* ChatPage.css */

.chat-page {
  display: grid;
  grid-template-columns: 250px 1fr; /* Sidebar takes 250px, the rest is for chats */
  height: 100vh;
}

.chats-box {
  margin-left: 50px;
  height: 100%;
  overflow-y: auto;
  border-left: 2.5px solid #ccc;
}

/* NavBar.css */

.navbar {
  background-color: #075e54;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 1.5rem;
}

.profile-icon {
  font-size: 1.2rem;
  margin-left: auto;
}

.profile-icon button {
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Hide overflowing content */
}
.profile-icon button:hover {
  background-color: #0056b3;
}

/* Modify the .avatar-img class to fit the photo inside the circle */

.avatar-img {
  max-width: 5%; /* Set maximum width to 70% of the button width */
  max-height: 5%; /* Set maximum height to 70% of the button height */
  object-fit: cover; /* Scale the image while maintaining its aspect ratio */
}

.offcanvas.show {
  transform: none;
  height: 30vh;
}

.offcanvas-end {
  top: 0;
  right: 0;
  height: 30vh;
  width: 400px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
}
