/* Sidebar.css */

.sidebar {
  width: 300px;
  /* height: 50vh; */
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #075e54;
  color: #fff;
  width: 100%; /* Add this line to make the header span the full width */
  box-sizing: border-box; /* Add this line to include padding in the width calculation */
}

.sidebar-header .logo {
  height: 30px;
}

.sidebar-header .profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sidebar-header .profile-icon img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.logo {
  height: 30px;
}

.header-icons {
  display: flex;
  gap: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
  /* margin-right: 50px; */
}

.search-bar input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #fff;
  margin-left: 10px;
}

.contacts-list {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #fff;
}

.contact-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.contact-item:hover {
  background-color: #f0f0f0;
}

.contact-item .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ddd;
  margin-right: 10px;
}

.contact-item .contact-info {
  flex: 1;
}

.contact-item .name {
  font-weight: bold;
}

.contact-item .last-message {
  color: #666;
  font-size: 14px;
}
